<%= render '/refinery/login' %>
  <div id="page" class="hfeed site">
    <header id="masthead" class="site-header" role="banner">
    	<div class="video-header">
        <div class="video-wrapper">
          <div class="in-wrapper">
            <video xmlns="http://www.w3.org/1999/xhtml" id="malthael-video" class="video-bg is-active" loop="loop" height="810" autoplay="">
              <source src="http://kingdomcomerpg.com/wp-content/themes/twentythirteendeliverance/images/Sequence_02_12.mp4" type="video/mp4">
              <source src="http://kingdomcomerpg.com/wp-content/themes/twentythirteendeliverance/images/Sequence_02_12.webm" type="video/webm">
            </video>
          </div>
        </div>
      </div>
      <div class="head-text-wrapper">
				<aside id="text-12" class="widget widget_text">			
					<div class="textwidget">Realistic open world First Person Medieval RPG</div>
		</aside>			
	</div>
	<div class="home-link-wrapper">
				<a class="home-link" href="http://kingdomcomerpg.com/" title="Kingdom Come RPG" rel="home">
					<h1 class="site-title">
						<span>Kingdom Come RPG</span>
						<img src="http://kingdomcomerpg.com/wp-content/themes/twentythirteendeliverance/images/de_main_logo.png" alt="">
					</h1>
				</a>
				<a href="http://warhorsestudios.cz/" target="_blank" class="warhorse-web">
					<img src="http://kingdomcomerpg.com/wp-content/uploads/2013/12/de_warhorse_logo.png" alt=""> 
				</a>
			</div>

      <div class="navcontainer">
      	<div class="border_shadow_right"></div>
        	<div id="navbar" class="navbar">    
              <div class="scraps">
              	<div class="navbar-inside"></div>
              		<div class="border_shadow_left"></div>
		              <div class="navbar-top-hr top">
		              	<div class="decorator_shadow"></div>
		              </div>
		                  <nav id="site-navigation" class="navigation main-navigation" role="navigation">
		                  <h3 class="menu-toggle">Menu</h3>
		                  <a class="screen-reader-text skip-link" href="#content" title="Skip to content">Skip to content</a>
		                  <div class="menu-menu-1-container">
		                  	<ul id="menu-menu-1" class="nav-menu">
		                  		<li id="menu-item-72" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-70 current_page_item menu-item-72"><a href="http://kingdomcomerpg.com/">Home</a></li>
								<li id="menu-item-42" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-42"><a href="http://kingdomcomerpg.com/?page_id=2">News</a></li>
								<li id="menu-item-55" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-55"><a href="http://kingdomcomerpg.com/?cat=4">Blog</a></li>
								<li id="menu-item-268" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-268"><a href="http://kingdomcomerpg.com/?page_id=266">Game</a></li>
								<li id="menu-item-243" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-243"><a href="http://kingdomcomerpg.com/?page_id=239">Media</a></li>
								<li id="menu-item-shop" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-274"><a href="/">Shop</a></li>
								<li id="menu-item-274" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-274"><a href="http://forum.kingdomcomerpg.com/">Forum</a></li>
								<li id="menu-item-83" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-83"><a href="http://kingdomcomerpg.com/?page_id=81">About us</a></li>
								<li id="menu-item-206" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-206"><a href="https://www.facebook.com/WarhorseStudios">Facebook</a></li>
								<li id="menu-item-209" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-209"><a href="https://twitter.com/WarhorseStudios">Twitter</a></li>
								<li id="menu-item-207" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-207"><a href="http://www.youtube.com/channel/UCIqUdfkbYmCGM-YRmk28zCg">Youtube</a></li>
								<li id="menu-item-208" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-208"><a href="https://plus.google.com/109413064918165877044/posts">Google Plus</a></li>
								<li id="menu-item-285" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-285"><a href="http://vimeo.com/warhorsestudios">Vimeo</a></li>
							</ul>
		                  </div>
	                 <div class="cleaner"></div>
	                </nav> <div class="cleaner"></div>
	              <div class="navbar-top-hr">
	                <div class="decorator_shadow"></div>
	              </div>
              <div class="decorator"></div>
              <div class="cleaner"></div>
				</div> <div class="cleaner"></div>
			</div> <div class="cleaner"></div>
		</div> <div class="cleaner"></div>
	</header> <div class="cleaner"></div>


<div class="header_a_block" style="background: rgba(46,61,0,0.75);height:282px;min-height:282px;">
	<div class="navbar-top-hr">
			<div class="decorator_shadow"></div>
		</div>
		<div class="decorator"></div><div class="header_green">
		
		
		<div class="c_1">
			<h1>Please support us and get early access and bonuses!</h1>
			<p>This game is being developed without the aid of traditional publishers, so it relies on your support and funding from private investors.</p>
		</div>
		
		<div class="c_2">			
				<a href="http://kingdomcomerpg.com/?page_id=378" style="">Back This Project <br><span>3 USD MINIMUM PLEDGE</span></a>
				<img src="/assets/paypal.png" alt="" class="paypal_and_others" />			
				<div class="percent_wrapper">
					<div class="percents" style="width:50%"></div>
					<div class="inner_p" style="width:50%"></div><span>Pledged:<%= number_to_currency Refinery::Orders::Order.pledged %></span> 
				</div>
		</div>	
		
		<div class="c_3">
			<h2>Backers: <span><%= Refinery::Orders::Order.pledgers %></span></h2>
			<h2>Pledged: <span><%= number_to_currency Refinery::Orders::Order.pledged %></span></h2> 
			<h2>Goal: <span><%= number_to_currency @main_project.goal %></span></h2> 
			

			<div class="sean">When we reach this goal, Sean Bean will give his likenes and voice to one of the characters</div>
	</div>
		</div>
		
</div>
	
		<!-- #masthead -->
		<div id="main" class="site-main">