<div class="informacni_pruh">
      <div class="informacni_pruh_in">
          <div class="border_shadow_left"></div>
                    <div class="registera">
                  <% if current_refinery_user%>
                    <span class="pl15">E-mail: <%= current_refinery_user.email %></span>
                    
                    
                    
                    <% if tier = current_refinery_user.highest_tier %>
                     <span class="pl15"><%= image_tag(tier.image_1.url,size: "64x64") if tier.image_1 %></span>
                     <span class="pl15"><%= tier.title %></span>
                    <% end -%>
                    <span class="pl15" style="float:right"><%= link_to t('user.sign_out'), refinery.logout_path %></span>
                  <% else %>
                    <div id='login_form'>
                      <%= form_tag(main_app.log_in_users_url) do %>
                      <div class='field session_username clearfix'>
                        <%= label_tag :login %>
                        <%= text_field_tag :login, nil,:class => 'larger widest' %>
                      </div>
                      <div class='field session_password clearfix'>
                        <%= label_tag :password %>
                        <%= password_field_tag :password, nil,:autocomplete => 'off', :class => 'larger widest' %>
                      </div>
                     
                      <%= submit_tag t('user.login')%>
                    <% end -%>
                    </div>
                    <div class="register" style="float:right">
                       <div class='clearfix'>
                        <div class='field forgot_password'>
                          <%= link_to t('forgot_password'), refinery.new_refinery_user_password_path %>
                        </div>
                      </div>
                      <%=  link_to t('user.registration'), main_app.new_user_path %>
                    </div>
                <% end -%>
                  <div class="cleaner"></div>
                </div>
                  <div class="cleaner"></div>
                <div class="navbar-top-hr">
                  <div class="decorator_shadow"></div>
                </div> 
      </div>
    <div class="cleaner"></div> 
 </div>